/data
/artifact
/tmp
/tf
/__pycache__

# Ignore Python cache files
__pycache__/
# Ignore tf and keras model files
*.h5
# Ignore sqlite database files
*.sqlite3
/SantaFeTrail-SNN/SantaFeTrailEnv.py
/SantaFeTrail-FSNN/SantaFeTrailEnv.py
/SantaFeTrail-Snntorch/src/README.md
/SantaFeTrail-Snntorch/src/requirements.txt
*.pt
*.json
*.png
*.mp4
*.pickle
*.npy
/Hussein-NN
*.csv
/SantaFeTrail-SNN/videos
/SantaFeTrail-RNN/videos
